.card__like {
  background: url(../../../images/elements/like.svg) center /22px 19px no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.card__like:hover {
  opacity: .5;
  transition: ease-in 0.5s;
}
